.cadastro-usuario {
	background: -webkit-gradient(linear, left top, right top, from($cor-verde-base), to($cor-branco-base)) no-repeat;
	display: flex;
	flex:1;
	height: 100%;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.cadastro-usuario__table {
			width: 650px; 
			transform: translateX(-65px);
		}
		
		.cadastro-usuario__form {
			width: 650px;
			transform: translateX(-65px);
		}
	}
}